In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from matplotlib import pyplot as plt
% matplotlib inline

In [4]:
felony_df = pd.read_csv("NYPD_7_Major_Felony_Incidents.csv")
felony_df.head()

,OBJECTID,Identifier,Occurrence Date,Day of Week,Occurrence Month,Occurrence Day,Occurrence Year,Occurrence Hour,CompStat Month,CompStat Day,CompStat Year,Offense,Offense Classification,Sector,Precinct,Borough,Jurisdiction,XCoordinate,YCoordinate,Location 1
0,1,f070032d,9/6/1940 19:30,Friday,Sep,6,1940,19,9,7,2010,BURGLARY,FELONY,D,66,BROOKLYN,N.Y. POLICE DEPT,987478,166141,"(40.6227027620001, -73.9883732929999)"
1,2,c6245d4d,12/14/1968 0:20,Saturday,Dec,14,1968,0,12,14,2008,GRAND LARCENY,FELONY,G,28,MANHATTAN,N.Y. POLICE DEPT,996470,232106,"(40.8037530600001, -73.955861904)"
2,3,716dbc6f,10/30/1970 15:30,Friday,Oct,30,1970,15,10,31,2008,BURGLARY,FELONY,H,84,BROOKLYN,N.Y. POLICE DEPT,986508,190249,"(40.688874254, -73.9918594329999)"
3,4,638cd7b7,7/18/1972 23:00,Tuesday,Jul,18,1972,23,7,19,2012,GRAND LARCENY OF MOTOR VEHICLE,FELONY,F,73,BROOKLYN,N.Y. POLICE DEPT,1005876,182440,"(40.6674141890001, -73.9220463899999)"
4,5,6e410287,5/21/1987 0:01,Thursday,May,21,1987,0,5,28,2009,GRAND LARCENY,FELONY,K,75,BROOKLYN,N.Y. POLICE DEPT,1017958,182266,"(40.6668988440001, -73.878495425)"

In [11]:
pop_df = pd.read_csv("New_York_City_Population_By_Boroughs.csv")
pop_df.head()
pop_df.describe()

       2000 Population  2010 Population
count         5.000000           5.0000
mean    1601655.600000     1635026.6000
std      799574.689346      796289.5162
min      443728.000000      468730.0000
25%     1332650.000000     1385108.0000
50%     1537195.000000     1585873.0000
75%     2229379.000000     2230722.0000
max     2465326.000000     2504700.0000

In [23]:
school_df = pd.read_csv("School_Safety_Report.csv", parse_dates = ["School Year"])
school_df.head()
school_df.describe(include = 'all')

,School Year,Building Code,DBN,Location Name,Location Code,Address,Borough,Geographical District Code,Register,Building Name,...,NoCrim N,Prop N,Vio N,ENGroupA,RangeA,AvgOfMajor N,AvgOfOth N,AvgOfNoCrim N,AvgOfProp N,AvgOfVio N
count,4242,4241,3563,4241,3563,4241,4241,4238.000000,4020,2548,...,2372.000000,2372.000000,2372.000000,4020,4020,2362.000000,2362.000000,2362.000000,2362.000000,2362.000000
unique,3,1198,1894,2276,1850,1212,6,NaN,1488,385,...,NaN,NaN,NaN,24,25,NaN,NaN,NaN,NaN,NaN
top,2013-14,X450,19K364,New Visions Charter High School for the Humani...,X695,1980 LAFAYETTE AVENUE,K,NaN,496,1980 LAFAYETTE AVENUE CONSOLIDATED LOCATION,...,NaN,NaN,NaN,251-500,3C,NaN,NaN,NaN,NaN,NaN
freq,2159,21,3,5,4,21,1378,NaN,13,21,...,NaN,NaN,NaN,658,658,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.295422,NaN,NaN,...,4.845700,1.998314,1.346965,NaN,NaN,0.533285,2.001909,3.263175,1.331710,0.896761
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.165385,NaN,NaN,...,77.754313,32.733307,22.086459,NaN,NaN,0.447799,1.819613,4.164860,1.145875,0.831004
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,0.270000,0.760000,1.090000,0.640000,0.370000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,0.330000,1.110000,1.380000,0.790000,0.500000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,NaN,NaN,...,1.000000,1.000000,0.000000,NaN,NaN,0.360000,1.320000,1.820000,0.830000,0.590000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,NaN,NaN,...,3.000000,2.000000,1.000000,NaN,NaN,0.520000,2.190000,3.560000,1.290000,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.000000,NaN,NaN,...,3776.000000,1592.000000,1073.000000,NaN,NaN,3.330000,12.330000,34.500000,9.200000,7.170000

In [9]:
for col in felony_df.columns:
    felony_df[col] = felony_df[col].astype(object)

felony_df.describe()

,OBJECTID,Identifier,Occurrence Date,Day of Week,Occurrence Month,Occurrence Day,Occurrence Year,Occurrence Hour,CompStat Month,CompStat Day,CompStat Year,Offense,Offense Classification,Sector,Precinct,Borough,Jurisdiction,XCoordinate,YCoordinate,Location 1
count,1048574,1048576,1048333,1048402,1048402,1048402,1048333,1048333,1048575,1048575,1048575,1048575,1048575,1024671,1048573,1048575,1048575,1048575,1048575,1048575
unique,1048574,1048191,477239,7,12,31,61,24,12,31,10,6,1,29,77,6,24,59317,62548,92115
top,1048575,7.44E+07,1/1/2008 0:01,Friday,Aug,1,2006,15,8,10,2006,GRAND LARCENY,FELONY,A,75,BROOKLYN,N.Y. POLICE DEPT,987220,212676,"(40.7504307680001, -73.989282176)"
freq,1,3,78,167341,96724,43121,127321,61489,96809,35397,127846,400082,1048575,109174,31724,327939,971856,2889,2897,2880