In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
% matplotlib inline
from matplotlib import pyplot as plt

In [4]:
schools_df = pd.read_csv("~/Downloads/NYC_SchoolLocations.txt")

In [5]:
schools_df.head()

,FID,ATS_CODE,BORO,BORONUM,LOC_CODE,SCHOOLNAME,SCH_TYPE,MANAGED_BY,GEO_DISTRI,ADMIN_DIST,ADDRESS,STATE_CODE,ZIP,PRINCIPAL,PRIN_PH,FAX,GRADES,City,POINT_X,POINT_Y
0,0,15K001,K,2,K001,P.S. 001 THE BERGEN,Elementary,1,15,15,309 47 STREET,NY,"11,220.000000000000000",Jennifer Eusanio,718-567-7661,718-567-9771,"PK,0K,01,02,03,04,05,SE",BROOKLYN,-74.011767,40.649162
1,1,17K002,K,2,K002,M.S. 002,Junior High-Intermediate-Middle,1,17,17,655 PARKSIDE AVENUE,NY,"11,226.000000000000000",ADRIENNE SPENCER,718-462-6992,718-284-7717,"06,07,08,SE",BROOKLYN,-73.951219,40.656429
2,2,21K095,K,2,K095,P.S. 095 THE GRAVESEND,K-8,1,21,21,345 VAN SICKLEN STREET,NY,"11,223.000000000000000",Janet Ndzibah,718-449-5050,718-449-3047,"PK,0K,01,02,03,04,05,06,07,08,SE",BROOKLYN,-73.974886,40.595753
3,3,21K096,K,2,K096,I.S. 096 SETH LOW,Junior High-Intermediate-Middle,1,21,21,99 AVENUE P,NY,"11,204.000000000000000",Denise Sandra Levinsky,718-236-1344,718-236-2397,"06,07,08,SE",BROOKLYN,-73.984912,40.607795
4,4,21K097,K,2,K097,P.S. 97 THE HIGHLAWN,Elementary,1,21,21,1855 STILLWELL AVENUE,NY,"11,223.000000000000000",KRISTINE MUSTILLO,718-372-7393,718-372-3842,"PK,0K,01,02,03,04,05,SE",BROOKLYN,-73.985759,40.601262

In [7]:
schools_df[schools_df.SCHOOLNAME.apply(lambda x: 'Academic' in x)]

,FID,ATS_CODE,BORO,BORONUM,LOC_CODE,SCHOOLNAME,SCH_TYPE,MANAGED_BY,GEO_DISTRI,ADMIN_DIST,ADDRESS,STATE_CODE,ZIP,PRINCIPAL,PRIN_PH,FAX,GRADES,City,POINT_X,POINT_Y
1576,"1,576",07X491,X,2,X491,Academic Leadership Charter School,Elementary,2,7,84,677 EAST 141 STREET,NY,"10,454.000000000000000",Norma Hurwitz,718-585-4215,718-585-4837,"0K,01,02",BRONX,-73.91297,40.807685